.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:black;
  padding: 15px 30px;
  color: white;
  position: sticky;
  top: 0;
  font-weight: bold;
  font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #9a031e;
}